.usersTable{
    margin-left: 3%;  
}
.usersTable th{
    text-align:initial;
    font-size: 22px;
}
.userForm{
    margin-left: 2%;
}
.addUserBtn{
    margin-left: 3%; 
    padding: 0.25% 1%;
}
.allUsers{
    margin: 1% 3%;
}
.addInputs{
    margin: 1% 1% 1% 1%;
    padding: 0.25% 0.75%;
    width: 150px;
}
.addUserButtons{
    font-size: 20px;
    margin: 5px;
}

.highlightTDs td input{
    background-color: rgb(64, 187, 187);
}

.userInfos{
    /* border: none; */
    
    margin-top: 4%;
    outline: none;
    padding: 2%;
    border-radius: 0.25rem;
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
}