.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  width: 28%;
  height: 200px;
  text-decoration: none;
}

.album-container {
  margin: 0 auto;
  text-align: center;
}
